.first-screen {
    
    background-image: url(../img/backgr-img.jpg);
    background-size: cover;
    background-position: center center;
    box-shadow:  rgba(0, 0, 0, 0.5) 0 0 0 1000px inset;
}
.first-screen h1 {
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 3.5rem;
    margin-bottom: 0;
    
}
.first-screen h1:first-child {
    margin-top: auto;
}
.first-screen h1 + h1 {
    font-weight: 300;
    font-style: normal;
}
.first-screen .cta-button {
    font-family: 'Montserrat', sans-serif;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.first-screen .header .header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.first-screen .header .header-wrapper .arrow-down {
    background: url(../img/arrow-down.png);
    width: 50px;
    height: 50px;
    background-size: cover;
    margin-top: auto;
    
}

.adv-screen h2 {
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
    color: #3C3C3C;
}
.adv-screen .bike-img {
    padding: 2.5rem;
    
}
.adv-screen .price {
    width: 100%;
    margin: 0 auto;
}
.adv-screen .price p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 0;
}
.adv-screen .price p:last-child {
    margin-bottom: 2rem;
}
.adv-screen .price .old-price {
    text-decoration: line-through;
    
}
.adv-screen .price .new-price {
    font-weight: 700;
    color: #28A745;
}
.adv-screen .adv-container {
    background-color: #F5CE03;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.adv-screen .adv-container p {
    font-size: 1.5rem;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: #3C3C3C;
    display: inline-block;
}
.adv-screen .adv-container p img {
    width: 4rem;
    height: 4rem;
    display: inline-block;
}

@media (max-width: 600px) {
    .first-screen h1 {
        font-size: 2.5rem;
    }
    .adv-screen h2 {
        font-size: 1.8rem;
    }
    .adv-screen .adv-container img {
        display: block;
        margin: 0 auto;
    }
    .adv-screen .adv-container p {
        font-size: 1.2rem;
        margin-top: 1rem;
        font-weight: 700;
        display: block;
        text-align: center;
    }
    .first-screen .cta-button {
        font-size: 1rem;
    }
    .adv-screen .price {
        width: 100%;
    }
    .adv-screen .price p {
        font-size: 1.5rem;
    }
}
